<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    {% seo %}
    {% include head-tags.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        {% include header-default.html %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          {% include sidebar-default.html %}
        </aside>
      </div>
    </div>
    <footer>
      <div class="inner">
        {% include footer-default.html %}
      </div>
    </footer>
  </body>
</html>
